@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #485153;
}

.container {
    max-width: 90%;
}

.card {
    border: none;
}

.card-header {
    background-color: #87999C;
    color: whitesmoke;
    font-weight: 700;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.card-body {
    background-color: whitesmoke;
}

.card-title {
    padding: 30px 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}

.bi-quote {
    font-size: 1.5em; 
}

#text {
    align-self: flex-start;
    font-style: italic;    
    font-size: 0.8em;
    color: black;
    padding-top: 18px;
}

.bottom-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1px;
    padding: 15px;
}

.bi-twitter {
    padding-left: 20px;
    font-size: 1.5em;
    color: #485153;
}

.bi-twitter:hover {
    color: #87999C;
}

#author {
    text-align: end;
    padding-right: 20px;
    font-style: italic;
    font-size: 0.9em;
}

#new-quote {
    background-color: #87999C;
    display: block;
    width: 100%;
    color: whitesmoke;
    font-weight: 700;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
}

#new-quote:hover {
    background-color: #485153;
    color: whitesmoke;
}

footer {
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
}

.footer-text {
    display: flex;    
    align-self: center;
    justify-content: flex-end; 
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 1px 1px 3px #485153;
    letter-spacing: 0.2em;
    padding-right: 10px;
}

.footer-links {
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.fa {
    font-size: 1em;
    color: whitesmoke;
    text-decoration: none;
}

.fa:hover {
    color: #485153;
    text-shadow: 2px 2px 3px whitesmoke;
}

.fa-linkedin-square {
    padding: 0 5px 0 10px;
}

.fa-github {
    padding: 0 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 80vw;
    }
    .card-header {
        font-size: 1.4em;
    }

    #text {  
        font-size: 1.1em;
    }

    .bi-quote {
        font-size: 2em; 
    }

    .bi-twitter {
        font-size: 2em;
    }

    #new-quote {
        font-size: 1em;
    }

    .footer-text {
        font-size: 1em;
    }

    .fa {
        font-size: 1.5em;
        padding-right: 20px;
    }
}

@media (max-width: 572px) {
    .footer-text  {
        justify-content: center;
        padding: 5px;
    }

    .footer-links {
        justify-content: center;
        padding: 5px;
    }

}

@media (min-width: 1650px) {
    .container {
        max-width: 60vw;
    }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
    footer {
        position: relative;
    }
}